.signin_body{
    width: 100vw;
    padding-top: 10%;
    padding-left: 20%;
}

.form_body{
    
    width: 80%;
}
.btn{
    margin-right: 30px;
}
.add{
    display: none;
}
#f{
    padding-bottom: 200px;
}

